html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

main {
  padding: 60px;
  background: white;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: null;
}

h2 {
  color: white;
  font-size: 2.6rem;
}

h3 {
  color: white;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 20vh 80vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3.6rem;
  font-weight: 100;
  letter-spacing: 3px;
  padding-top: 5px;
  color: "white";
  padding-bottom: 5px;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
}
