header {
  grid-column-start: 1;
  grid-column-end: 3;
}

header {
  background-color: #212121;
  background-image: url(https://cdn2.hubspot.net/hubfs/3957645/blog%20image/Header_bg.png);
  background-color: #1e1e1e;
  background-size: cover;
  background-repeat: no-repeat;
}

header .container {
  align-items: center;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

@media(max-width: 600px) {

  .one,
  .two,
  .three {
    background-color: #ffff;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.35s;
  }

  .menu-toggle {
    width: 40px;
    height: 60px;
    position: absolute;
    top: 25px;
    right: 30px;
  }

  .on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #7159c1;
    z-index: 10;
  }

  .on .menu-toggle {
    position: absolute;
    right: 30px;
    top: 30px;  
  }

  .on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .on .menu-toggle .two {
    opacity: 0;
  }
  .on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }
}
